#footer-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    bottom: 0px;
    width: 100vw;
}

div#acknowledgement, div#personal-links {
    position: relative;
    align-self: baseline;
}

a {
    color: white;
}

#data-source {
    color: white;
    font-size: 18px;
    margin-left: 10px;
    bottom: 0;
}

#personal-links ul {
    display: flex;
    margin: 10px;
}

#github {
    margin-right: 10px;
    transition: transform .2s;
}

#github:hover {
    transform: scale(1.2);
}

#linkedin {
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .2s;
}

#linkedin:hover {
    transform: scale(1.2);
}

#angelist {
    margin-left: 10px;
    margin-right: 10px;
    transition: transform .2s;
}

#angelist:hover {
    transform: scale(1.2);
}