body {
    background-image: url("../src/images/galaxy-jpg.jpg");
    font-family: 'Oswald', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
}

#main-body {
    display: flex;
    align-items: center;
}

#instructions {
    border: 1px solid white;
    color: white;
    width: 570px;
    height: auto;
    text-align: center;
    margin: auto;
    background-color: blue;
    opacity: 50%;
}

#instructions h2 {
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
    margin: auto;
}

#instructions p {
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    word-wrap: break-word;
    margin: 10px;
}

#instructions h3 {
    margin: 25px;
    font-size: 25px;
    font-weight: 300;
}

.instructions-box-hidden {
    display: none;
}

button:hover {
    cursor: pointer;
    background-color: #659BDF;
}

a {
    cursor: pointer;
}

