body {
    background-image: url("../src/images/galaxy-jpg.jpg");
    font-family: 'Oswald', sans-serif;
    /* /* margin: auto; */
    vertical-align: middle; 
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    color: white;
    margin-top: 20px;
    /* margin-top: 5vh; */
}

#main-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5vh;
}

#instructions {
    border: 1px solid white;
    color: white;
    height: auto;
    text-align: center;
    margin: auto;
    background-color: blue;
    opacity: 50%;
}

#instructions h2 {
    padding: 10px;
    font-size: 30px;
    font-weight: 400;
    margin: auto;
}

#instructions p {
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    word-wrap: break-word;
    margin: 10px;
}

#instructions h3 {
    margin: 25px;
    font-size: 25px;
    font-weight: 300;
}

.instructions-box-hidden {
    display: none;
}

button:hover {
    cursor: pointer;
    background-color: #659BDF;
    transform: scale(1.1);
}

a {
    cursor: pointer;
}

#tooltip {
    position: absolute;
    text-align: center;
    padding: 5px 10px;
    background-color: blue;
    color: white;
    font-size: 13px;
    opacity: 0;
    border: 1px solid white;
    border-radius: 3px;
}

/* #tooltip::after {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;

    border-top: 5px solid white;
    border-bottom: 0;   /* delete the opposite border 
    border-right: 5px solid transparent;  /* set adjacent triangles to transparent 
    border-left: 5px solid transparent;  
    content: " ";
    top: 100%;
    left: 40%;
}  */


@media screen and (max-width: 1075px) {
    #main-body {
        display: flex;
        flex-direction: column;
        margin: 5vh;
    }
} 