button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 8px;
}

#header-nav {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    width: 350px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    
}

#instructions-button {
    margin: 10px;
    padding: 10px;
}

#populate-countries-button {
    margin: 10px;
    padding: 10px;
}